.Price_Form {
  display: flex;
  flex-direction: column;
  height: 408px;
  width: 95%;
   background-color: #FFFFFF;
  gap: 10px; /* Khoảng cách giữa các phần tử */
  padding-left: 15px;
  border-radius: 8px;
}

.price-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px; /* Khoảng cách giữa các phần tử trong cùng một dòng */
  position: relative; /* Đặt vị trí tương đối để chứa phần tử con tuyệt đối */
  margin-top: 13px;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa số lượng và biểu tượng con mắt */
}

.price-item h3 {
  margin: 0;
}

.price-item span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.eye-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px; /* Đặt chiều rộng cố định */
  height: 24px; /* Đặt chiều cao cố định */
  position: absolute; /* Đặt vị trí tuyệt đối */
  right: 20px; /* Căn phải */
}
.Trans {
  display: flex;
  margin-top: 22px;
  gap: 20px;
  justify-content: space-between;
  margin-right: 12px;
  position: relative;

}
.Trans button:hover{
    cursor: pointer;
    background-color: #3c3535;
}
.Bons button:hover{
    cursor: pointer;
    background-color: #e0dcdc;
}
.Trans button {
  font-size: 14px;
  color: white;
  background-color: black;
  border-radius: 21.5px;
  width: 45%;
  height: 45px;
}
.Trans::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background-color: #000; /* Màu của dòng kẻ */
  position: absolute;
  bottom: -25px; /* Cách 10px dưới phần tử .Trans */
  left: 50%;
  transform: translateX(-50%);
}
.Bons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 36px;
  margin-left: 12px;
  align-self: center;
   width:90%;
}
.Bons button {
  font-size: 20px;
  border-radius: 25px;
  width:90%;
  height: 50px;
  color: #1D9BF0;
  background-color: white;
  border: 1px solid #1D9BF0;
  width: 90%;

}
