.attend-header {
  display: flex;
  align-items: center;
  gap: 8px; /* Khoảng cách giữa icon và chữ */

}
.attend-header span {
  font-size: 42%;
  font-weight: bold;
}
.Attend{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 5%;
  
}
.Attend button{
  width: 85%;
  height: 45px;
  background-color: #1D9BF0;
  border-radius: 40px;
  margin-bottom: 20px;
  border: none;
  color: white;
  font-size: 15px;
  margin-left: 3.5%;
  
}
.Attend_container{
  border-radius: 5px;
  margin-top: 15px;
  background-color: #FFFFFF;
  width: 101%;
  
}