

.menu {
  list-style: none;
  padding: 0;
  padding-left: 15px;

 
}


.menu li {
  display: flex;
  align-items: center;
  margin: 26px 0;
  gap:22px;
 font-size:17px;
 font-weight: 400;
}



.post-button-sidebar {
  margin-top: 20px;
   margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  height: 38px;
  width: 80%;
  border-radius: 30px;
  border: none;
  
}

.post-button-sidebar:hover {
  background-color: #0056b3;
}
.ButtonSidebar{
width:80%;
height: 50px;
border-radius: 36px;
margin-top: 28px;
font-weight:600;
Size:16px;
background-color: #1D9BF0;
color: white;
border: none;
}
