.menu {
  list-style: none;
  padding: 0;
  padding-left: 10%;
}

.menu li {
  display: flex;
  align-items: center;
  margin: 24px 0;
  gap: 19px;
  font-size: 17px;
  font-weight: 400;
}

.post-button-sidebar {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  height: 38px;
  width: 80%;
  border-radius: 30px;
  border: none;
}

.post-button-sidebar:hover {
  background-color: #0056b3;
}

.ButtonSidebar {
  width: 80%;
  height: 50px;
  border-radius: 36px;
  margin-top: 11px;
  font-weight: 600;
  font-size: 16px;
  background-color: #1d9bf0;
  color: white;
  border: none;
}

.ButtonSidebar_Container {
  display: flex;
  padding-bottom: 24px;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

.sidebarButton_li:hover {
  cursor: pointer;
}

.sidebarButton_li.active {

  color: #1D9BF0; 
}
.ButtonSidebar:hover {
  background-color: #0056b3; 
  color: white; 
  cursor: pointer;
  
}