.form_container {
  display: flex;
  align-items: center;
  background-color: #FFFf;
  height: 125px;
  border: 1px;
  border-radius: 8px;
  width: 100%;
  position: relative;  
  margin-bottom: 20px;
  
}

.post-form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative; 
  transform: translateY(-15px);
  margin-left: 15px; 
  
}

.post-input {
  width: 84.4%;
  height: 30px;
  padding: 10px 50px 10px 10px; /* Thêm khoảng trống cho nút bên trong */
  border: 1px solid #ccc;
  border-radius: 25px;
  border: none;
   background-color: #ffff;
}

.post-button {
  position: absolute;
  right: 40px; /* Đặt nút submit ở bên phải */
  top: 50%;
  transform: translateY(-50%);
  height: 34px;
  width: 18.6%;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 36px;
  cursor: pointer;
}

.post-button:hover {
  background-color: #0056b3; /* Đổi màu nền khi hover */
  color: white; /* Đặt màu chữ khi hover nếu cần */
  
}
.avatar_1 {
  margin-left: 25px; 
  transform: translateY(-15px);
}
.post-input:focus {
  outline: none; /* Loại bỏ viền khi nhấn vào input */
}
.post-form::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.2px; /* Chiều cao của đường kẻ */
  background-color: #EFEFEF; /* Màu của đường kẻ */
  position: absolute;
  bottom: -10px; /* Khoảng cách 35px dưới post-form */
  left: 10px;
  width: 443px;
}
