/* Container for the entire post */
.post {
  padding: 16px;
  margin-bottom: 12px;
 border-top: 1px solid #ddd;
}
.container_New{

  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  align-self: center;
  /* padding-top: 10px; */
}


/* Profile section */
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

/* Avatar section */
.avatar {
  margin-right: 12px;
}

.avatar img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

/* Profile info section */
.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info .name {
  font-weight: bold;
  font-size: 16px;
}

.profile-info .role,
.profile-info .time {
  font-size: 14px;
  color: #888;
}

/* Post content section */
.post-content {
  margin-bottom: 12px;
}

.post-content img {

  border-radius: 8px;
  margin-top: 8px;
}

/* Actions section */
.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.actions button {
  background: none;
  border: none;
  color: #0073b1;
  cursor: pointer;
  padding: 8px;
}


/* Comments section */
.comments {
  border-top: 1px solid #ddd;
  padding-top: 12px;
  text-align: left;
  margin-left: 25px;
}

.comment {
  margin-bottom: 8px;
}

.comment .comment-name {
  font-weight: bold;
  margin-top: 5px;
  font-size: 14px;
}

.comment .comment-text {
  margin-left: 16px;
  font-size: 14px;
  margin-top: 5px;
}

.row {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #FFFFFF;
}

.col {
  flex: 1;
  text-align: center;
  padding: 10px; 
}
.col-choose {
  border-bottom: 3px solid #1D9BF0;
  
}
.col:hover {
  background-color: #f1f1f1;
}



